body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}
.btn-home {
    position: fixed;
    top: 20px; 
    right: 20px; 
    background-color: #10B981;
    color: white;
    padding: 10px 16px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
    z-index: 1000;
}

.btn-home:hover {
    background-color: #029e6a;
}


.container {
    max-width: 800px;
    margin: auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    color: #10B981;
    margin-bottom: 20px;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.tabela th, .tabela td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
.tabela th {
    color: #fff;
    background-color: #10B981;
}
.tabela tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}